#pop {
    background-color: deepskyblue; /* #ffffff*/
    border: solid 1px #ccc;
    position: absolute;
    display: none;
    width: 300px;
    height: 300px;
    padding: 5px;

    top: 300px;

    left: 31px;

}