*{
  font-family: "Microsoft YaHei";
}
/*--------header--------------*/
.row-content.buffer, .row-content.buffer-left{
   padding-left: 4%;
 }
.row-content.buffer, .row-content.buffer-right{
  padding-right: 4%;
}
#intro-wrap{
  font-family: intro-wrap;
}
.menu-item:hover:not(.header-phone){
  background-color:#96bd0f;
}
/*.transparent:hover{
    background-color:#96bd0f;
}*/
header>.row{
    background-color:white;
    margin-top:-8px;
    margin-bottom:-8px;
}
.reset>a{
  background-image:url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/logo-green.png?v=v7');background-size:100%;background-repeat:no-repeat;background-position:left center;
}
.section-title>h3{
  color:#96bd0f;
}
.header-phone-icon{
  background-image:url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/green-phone-icon.png?v=v7');
  background-repeat:no-repeat;
  background-size:12% auto;
  background-position:15% center;
}
.header-phone-icon>span{
  padding-left:30px;
}
.section-background{
  background-color:white;
  min-height:500px;
  overflow-y:hidden;
}
nav > ul > li > span {
    line-height: 3rem;
}
header.fixed-header.transparent.light #brand a,
header.fixed-header.transparent.light nav > ul > li > span {
    color: #333;
    text-shadow: none;
}
header.transparent.light #brand a, header.transparent.light nav > ul > li > span {
    color: #fff;
}
.no-parallax header.transparent.light #brand a, .no-parallax header.transparent.light nav > ul > li > span{
    color:#333;
}
/*-------phone.html----------*/
/*手机适配*/
@media handheld, only screen and (max-width: 48em){
  .header-phone-icon{
    background-image:url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/green-phone-icon.png?v=v7');
    background-repeat:no-repeat;
    background-size:4% auto;
    background-position:left center;
  }
  .big-dhh{
      background-size:80%;
  }
}
/*------------大订货三架马��?-------------------*/
.big-dhh{
  margin-top:20px;
  background-image:url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/sanjiamache.png?v=v7');
  background-repeat:no-repeat;
  background-position:center top;
  padding-top:3.5em;
}
.big-dhh-img{
  padding-left:23%;
  width:70%;
  height:auto;
}
#brand-logo{
  background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img2/brand-logo-2.png?v=v7');
  background-position: center center;
  background-size: 60%;
  background-repeat: no-repeat;
}
.right-arrows{
  position: absolute;
  right:210px;
  top:190px;
  width:25px;
  height:30px;
}
.left-arrows{
  position: absolute;
  left:210px;
  top:190px;
  width:25px;
  height:30px;
}
.gw-h2{
  font-size:50px;
  margin-top:30px;
  margin-left:90px;
  color:#96bd0f;
}
.gw-h3{
  font-size:30px;
  margin-top:30px;
  margin-left:90px;
  color:#96bd0f;
}
.gw-h2-mai{
  margin-left:180px;
}
.gw-h4{
  padding-left:120px;
  margin-top:-25px;
}
.gw-p{
  padding-left:80px;
  text-indent:2em
}
.gw-table{
  margin-top:-45px;
  /*margin-left:-30px;*/
}

/*---------------partner---------------------*/
.logo{
  background-position: bottom center;
  background-repeat: no-repeat;
  padding-top:50px;
  height:600px;
  width:100%;
  margin-top:-50px;
}
.brand-partners{
  height:1600px;
  background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/partners/all.png?v=v7');
  background-repeat: no-repeat;
  background-position: center center;
  background-size:40% 100%;
}
.brand-partners>span{
  padding:10px 10px 10px 10px;
  color:#96bd0f;
}
/*-----------------------分割----------------------*/

/*------------------------ipad 订货----------------------*/
.ipad-section{
  text-align:center;
}
.ipad-section>p>span{
  color:#96bd0f;
  font-weight:bold;
  font-size:1.5em;
}
.ipad-section-first>img{
  position:relative;
  top:20%;
  left:20%;
}
.ipad-section-first>div{
  margin-top:2em;
  margin-bottom:2em;
  height:600px;
  background-image:url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/ipad/1-2.png?v=v7');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center center;
  overflow-y:hidden;
}
.ipad-section-second>img{
  position:relative;
  top:20%;
  left:20%;
}
.ipad-section-second>div{
  margin-top:2em;
  margin-bottom:-3em;
  height:600px;
  background-image:url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/ipad/2-1.png?v=v7');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center bottom;
  overflow-y:hidden;
}
.ipad-section-three>img{
  position:relative;
  top:20%;
  left:20%;
}
.ipad-figure-three>article{
  padding-left:2em;
}

.ipad-figure-three{
  background-color:#ecf0e0;
  margin-left:20%;
  margin-right:20%;
}
@media screen and (max-width: 960px) {
  .ipad-section-first>img{
    top:0;
    left:1.2em;
  }
  .ipad-section-first>div{
    margin-top:-5em;
    margin-bottom:-5em;
    height:500px;
    overflow-y:hidden;
  }
  .ipad-section-second>img{
    top:0;
    left:1.2em;
  }
  .ipad-section-second>div{
    margin-top:-20em;
    height:500px;
    overflow-y:hidden;
  }
  .ipad-section-three>img{
    position:relative;
    left:0.3em;
  }
  .ipad-figure-three{
    background-color:#ecf0e0;
    margin-left:-1.2em;
    margin-right:-1.2em;
  }
  .ipad-figure-three>article{
    padding-left:0.2em;
  }
}
/*-----------------mai-----------------------*/
.mai-first{
  min-height:600px;
  background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/mai/1.png?v=v7');
  background-size: contain;
  background-position:center bottom;
  background-repeat: no-repeat;
}
.mai-first-p{
  text-indent: 2em;
  width:60%;
}
.mai-first-p+p{
  text-indent: 2em;
  width:50%;
}
.mai-second{
  height:500px;
  background-image:url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/mai/2.png?v=v7');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center bottom;
}
@media screen and (max-width: 960px) {
  .mai-first{
    min-height:500px;
    background-size: contain;
    background-position:center bottom;
    background-repeat: no-repeat;
  }
  .mai-first-p{
    width:100%;
  }
  .mai-first-p+p{
    width:60%;
  }
  .mai-second{
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
  }
}
/*------------------------aboutus----------------------*/
.about-first{
  background-image:url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/aboutus/3.jpg?v=v7');
  background-repeat:no-repeat;
  background-position:70% 60%;
}
.about-first>div{
  background-image:url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/aboutus/2.png?v=v7');
  background-repeat:no-repeat;
  background-position:left top;
  background-size: 15em auto;
}
.about-second-section{
  height:650px;
}
.about-second{
  background-image:url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/aboutus/4.png?v=v7');
  background-repeat:no-repeat;
  background-position:left top;
    background-size: 15em auto;
}
.about-three{
  background-image:url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/aboutus/6.png?v=v7');
  background-repeat:no-repeat;
  background-position:left top;
    background-size: 15em auto;
}
.about-four{
  background-image:url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/aboutus/8.png?v=v7');
  background-repeat:no-repeat;
  background-position:left top;
    background-size: 15em auto;
}

/*------------------------joinus----------------------*/
.joinus-first{
  background-image:url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/joinus/2.png?v=v7');
  background-repeat:no-repeat;
  background-position:left top;
  background-size: contain;
}
/*-------------------------b2b----------------------------*/
.b2b-first-p>h4{
  text-align:center;
  color:#555555;font-size: 38px;
  font-weight: bolder;
}
.b2b-first-p>p{
  text-align:center;
  color:#303030;
  font-size: 18px;
}
.b2b-section-second>div{
  margin-top:2em;
  margin-bottom:-3em;
  height:600px;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center bottom;
  overflow-y:hidden;
}
.b2b-section-second-p{
  padding-top:2em;
}
.b2b-section-second-h>h4{
  text-align:center;font-size:38px;color:#555555;
}
.b2b-section-second-h>h4>span{
  color:#555555;font-size: 38px;font-weight: bolder
}

.b2b-section-second-p>.second-span{
  color:#555555;
  font-size:24px;
  font-weight: bolder;
}
.b2b-section-second-p>span{
  color:#000000;font-size:14px;
}
.recruit-box{
  margin:1em;
  background-color:#f3f3f3;
  border-radius: 0.5em;
}
.s-first{
  background-image: url("http://7xrrei.com1.z0.glb.clouddn.com/img/b2b/s-one.png");
  background-repeat: no-repeat;
  background-position: 10% center;
  background-size: 100px;
}
.s-second{
  background-image: url("http://7xrrei.com1.z0.glb.clouddn.com/img/b2b/s-two.png");
  background-repeat: no-repeat;
  background-position: 10% center;
  background-size: 100px;
}
.s-third{
  background-image: url("http://7xrrei.com1.z0.glb.clouddn.com/img/b2b/s-three.png");
  background-repeat: no-repeat;
  background-position: 10% center;
  background-size: 100px;
}
.s-four{
  background-image: url("http://7xrrei.com1.z0.glb.clouddn.com/img/b2b/s-four.png");
  background-repeat: no-repeat;
  background-position: 10% center;
  background-size: 100px;
}
.recruit-box > p{
  padding-left:13em;
  padding-top:1em;
  padding-right:1em;
  font-size:12px;
  height:11em;
}
.recruit-box > h4{
  font-size:2.1em;
}

#b2b-section-third{
  height:660px;
  background-image: url("http://7xrrei.com1.z0.glb.clouddn.com/img/b2b/b2b-three.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
.b2b-fourth-pic{
  padding:4em;
  height:450px;
  background: url("http://7xrrei.com1.z0.glb.clouddn.com/img/b2b/b2b-four.png") center bottom no-repeat;
  background-size: 80%;
}
.b2b-section-fourth>img{
  position:relative;
  top:20%;
  left:20%;
}
.b2b-section-fourth-h4{
  text-align:center;font-size:38px;color:#555555;
}
.b2b-section-fourth-p{
  color:#555555;text-align:center;font-size:30px;font-weight: bold
}
#free-trial{
  color:white;
  border-radius: 0.4em;
  background-color:#9dbf2a;
  text-decoration:none;
  padding:8px 2em 8px 2em;
}
/*-----------------------分割��?----------------------*/
@media screen and (min-width:960px) and (max-width: 1860px) {
  .index1{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/index/1-1.jpg?v=v7');}
  .index2{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/index/1-2.jpg?v=v7');}
  .index4{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/index/1-3.jpg?v=v7');}
  .index3{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/index/1-4.jpg?v=v7');}
  .b2b{background-image:url("http://7xrrei.com1.z0.glb.clouddn.com/img/b2b/b2b-m.jpg");}
  .ipad-dhh{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/index/1-2.jpg?v=v7');}
  .phone{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/index/1-3.jpg?v=v7');}
  .mai{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/index/1-4.jpg?v=v7');}
}
.about-us{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/aboutus/1.jpg?v=v7');}
.join-us{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/joinus/1.jpg?v=v7');}
.gxlogo1{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/partners/1.jpg?v=v7');}
.gxlogo2{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/partners/2.jpg?v=v7');}
.gxlogo3{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/partners/3.jpg?v=v7');}
.gxlogo4{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/partners/4.jpg?v=v7');}
.gxlogo5{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/partners/5.jpg?v=v7');}
/*-----------------适配手机��?-----------------------------*/
@media screen and (max-width: 960px) {
    .index1{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/s/1.jpg?v=v7');}
    .index2{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/s/2.jpg?v=v7');}
    .index4{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/s/3.jpg?v=v7');}
    .index3{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/s/4.jpg?v=v7');}

    .b2b{background-image:url("http://7xrrei.com1.z0.glb.clouddn.com/img/b2b/b2b-s.jpg");}

    .gxlogo1{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/s/partners/1.jpg?v=v7');}
    .gxlogo2{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/s/partners/2.jpg?v=v7');}
    .gxlogo3{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/s/partners/3.jpg?v=v7');}
    .gxlogo4{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/s/partners/4.jpg?v=v7');}
    .gxlogo5{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/s/partners/5.jpg?v=v7');}
    .ipad-dhh{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/s/2.jpg?v=v7');}
    .phone{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/s/3.jpg?v=v7');}
    .mai{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/s/4.jpg?v=v7');}
    .about-us{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/s/aboutus.jpg?v=v7');}
    .join-us{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/s/joinus.jpg?v=v7');}

    .brand-partners{
      background-position: center top;
      height:600px;
      background-size:85% auto;
    }
    .about-first{
      background:none;
    }
    .about-second-section{
      height:inherit;
    }
    .about-second+div{
      display: none;
    }
}
@media screen and (max-width: 1024px) and (min-width:960px){
  .owl-item img{width:80%;}
  .b2b{background-image:url("http://7xrrei.com1.z0.glb.clouddn.com/img/b2b/b2b-ipad.jpg");}
  .b2b-section-second-h>h4{
    font-size:1em;
  }
  .b2b-section-second-h>h4>span{
    font-size: 24px;
  }
  .recruit-box > p{
    padding-left:12em;
  }

  .b2b-section-second-p>.second-span{
    font-size:16px;
  }
  .b2b-section-second-p>span{
    font-size:10px;
  }
  #b2b-section-third{
    height:550px;
    background-size:cover;
  }
}
@media screen and (max-width: 960px) and (min-width:760px){
  .recruit-box > p{
    padding-left:15em;
  }

  #b2b-section-third{
    height:430px;
    background-size:cover;
  }
  .b2b-fourth-pic{
    height:350px;
  }
}
@media screen and (max-width: 760px) and (min-width:325px){
  .b2b-first-p>h4{
    font-size:1.5em;
  }
  .b2b-first-p>p{
    font-size: 1em;
  }
  .b2b-section-second-h>h4{
    font-size:1.5em;
  }
  .b2b-section-second-h>h4>span{
    font-size: 18px;
  }
  .recruit-box > p{
    padding-left:11em;
  }

  .b2b-section-second-p>.second-span{
    font-size:12px;
  }
  .b2b-section-second-p>span{
    font-size:10px;
  }
  #b2b-section-third{
    height:310px;
    background-size:cover;
  }
  .b2b-fourth-pic{
    height:180px;
  }
  .b2b-section-fourth-h4{
    font-size:24px;
  }
  .b2b-section-fourth-p{
    font-size:18px;
  }
}
@media screen and (max-width: 325px) {
  .b2b-first-p>h4{
    font-size:1em;
  }
  .b2b-first-p>p{
    font-size: 1em;
  }
  .b2b-section-second-h>h4{
    font-size:1em;
  }
  .b2b-section-second-h>h4>span{
    font-size: 18px;
  }
  .recruit-box > p{
    padding-left:11em;
  }

  .b2b-section-second-p>.second-span{
    font-size:12px;
  }
  .b2b-section-second-p>span{
    font-size:10px;
  }

  #b2b-section-third{
    height:256px;
    background-size:cover;
  }

  .b2b-fourth-pic{
    height:150px;
  }
  .b2b-section-fourth-h4{
    font-size:1em;
  }
  .b2b-section-fourth-p{
    font-size:14px;
  }
}
/*-----------大屏---------------------*/
@media screen and (min-width:1860px) {
  .index1{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/l/1.jpg?v=v7');}
  .index2{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/l/2.jpg?v=v7');}
  .index4{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/l/3.jpg?v=v7');}
  .index3{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/l/4.jpg?v=v7');}

  .b2b{background-image:url("http://7xrrei.com1.z0.glb.clouddn.com/img/b2b/b2b-l.jpg");}

  .ipad-dhh{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/l/2.jpg?v=v7');}
  .phone{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/l/3.jpg?v=v7');}
  .mai{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/l/4.jpg?v=v7');}
  .gxlogo1{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/l/partners/1.jpg?v=v7');}
  .gxlogo2{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/l/partners/2.jpg?v=v7');}
  .gxlogo3{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/l/partners/3.jpg?v=v7');}
  .gxlogo4{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/l/partners/4.jpg?v=v7');}
  .gxlogo5{background-image: url('http://7xrrei.com1.z0.glb.clouddn.com/gw/img/l/partners/5.jpg?v=v7');}
}
