div{margin: 5px}
html,body{height:100%;overflow:hidden;}
#body {
    height: 100%;
    width: 100%;
    overflow: auto;
}
#pop {
    background-color: white; /* #ffffff*/
    border: solid 2px #ccc;
    position: absolute;
    display: none;
    width: 100%;
    height: 300px;
    padding: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    overflow: auto;
    bottom: 0px;
    left: 0px;
}
#scheduletitle{
    margin-left: 30px;
}
hr {
    margin-top: 0px;
    margin-bottom: 1px;
}
#hr2{
    margin-top: 0px;
    margin-bottom: 1px;
}
h5 {
    margin-left: 20px;
}
/*a标签去掉下划线*/
a {
    text-decoration: none;
    color: #656565;
}
a:hover {
    color: #00FF00; /*鼠标经过的颜色变化*/
}
a:active {
    text-decoration: none;
    color:  #656565; /*鼠标按下的颜色变化*/
}

[name="time"] {
    padding-left: 20px;
    float: left;
    width: 120px;
}
[name="event"] {
     margin-right: -25px;
    width: 30%;
    float: left;
    margin-left: 10px;
 }
[name="finger"] {
    margin-right: 10px;
    float: right;
   /* float: left;*/
}
#clear {
    clear:both;
}
#theme {

  /*  border: 1px solid ;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
*/
}
[name="logo"] {
    padding-left: -5px;
}
/*人物头像*/
#head {
    width: 60px;
    height: 60px;
    padding-left: 0px;
    margin-left: 30px;
    border-radius: 100%;
}
/*二维码*/
#code {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}
[name="code"] {
    width: 100px;
    height: 100px;

}
/*个人信息*/
#personInfo {
    float: right;
    margin-right: 55px;
    margin-top:20px;
}
#persondiv {
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
ul >li {
    color: #1b1e21;
    list-style-type: none;
    margin-left: -50px;
    padding-left: 25px;
}
div>li {
    color: darkgrey;
    padding-left: 14px;
}
[name="thistime"] {
    padding-right: 30px;
margin-left: -10px;
}
[name="thisevent"] {

}
[name="exit"] {
    position: fixed;
    right: 0px;
    margin-top: -27px;
    width: 25px;
    height: 25px;
    border: none;
    text-align: center;
    align-self: right;
}
#today {
    float: right;
    margin-right: 3%;
/*padding-left: 175px;*/
}
/*签到按钮样式*/
#sub{
    background-color: #a1ffcd;
    border: none;
    color: #20c997;
    margin-top: 15px;
}
div[name="event"] {
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.detail {
    font-size: 5px;
    color: #8e959b;

}
/*.schedulelist {
    margin-bottom: -20px;
}*/
.blockli {
    width: 100%;
    height: 35px;
}